body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    font-family: "Raleway", sans-serif;
}

aside {
    width: 50%;
    height: 800px;
    background-image: url("images/bg-intro.svg");
    background-size: cover;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

main {
    width: 50%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


div#socialContacts {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    margin: 10% 10% 20% 0;
    grid-column-gap: 5%;
    justify-self: end;
}

div#contents {
    margin-top: 20%;
}

.fa-twitter,
.fa-facebook-f,
.fa-envelope {
    margin: auto;
    padding: 2px;
    color: black;

    font-size: large;
}

svg.logo {
    margin-top: 10%;
    margin-left: 5%;
}

a.fa {
    font-size: x-large;
    text-decoration: none;
}

h1,
h2,
p {
    text-align: start;
    margin: 5%;
}

p {
    font-size: larger;
    font-weight: 400;
}

div#signUp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    width: 50%;
    height: 80px;
    border-radius: 10px;
    margin: 5% 0;
}

input[type="submit"] {
    width: 40%;
    height: 80px;
    margin-left: 5%;
    background-color: teal;
    color: white;
    font-size: large;
}

footer {
    text-align: end;
    margin-top: 15%;
    margin-right: 10%;
}



@media only screen and (max-width: 825px) {

    aside {
        width: 100%;
    }

    main {
        width: 100%;
    }

    nav {
        position: absolute;
        top: 10px;
        width: 100%;
    }

    svg.logo * {
        fill: white;
        /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);*/
    }

    .fa-twitter,
    .fa-facebook-f,
    .fa-envelope {
        color: white;
    }

    a.fa {
        font-size: medium;
    }

    div#socialContacts {
        justify-self: center;
    }

    svg.logo {
        transform: scale(0.6);
    }

    h1 {
        font-size: x-large;
    }

    footer {
        margin-right: 5%;
        text-align: end;
        text-decoration: underline;
    }

}

@media only screen and (min-width: 521px) and (max-width: 825) {

    .illustration {
        margin-top: -15%;
    }

    aside img {
        /* transform: scale(0.6); */
        width: 70%;
        margin-top: 40%;
    }

}

@media only screen and (max-width: 520px) {

    div#contents {
        margin-top: 40%;
    }

    main {
        margin-top: -30%;
    }

    aside img {
        /* transform: scale(0.6); */
        width: 90%;
        margin-top: 40%;
    }

    div#signUp {
        display: grid;
        grid-template-columns: 1fr;
    }

    input[type="text"] {
        width: 90%;
        justify-self: center
    }

    input[type="submit"] {
        width: 55%;
    }
}