body {
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Raleway", sans-serif;
}

aside {
    margin-left: -5%;
    margin-top: -8px;
    width: 100%;
    /* background-color: hsl(243, 49%, 58%);*/
    background-image: url("images/bg-intro.svg");
    background-size: cover;

}

main {
    width: 100%;
}

div#socialContacts {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    margin-bottom: 20%;
    grid-column-gap: 5%;
    margin-top: 10%;
}

.fa-twitter,
.fa-facebook-f,
.fa-envelope {
    margin: auto;
    padding: 2px;
    color: black;

    font-size: large;
}

nav {
       display: grid;
    grid-template-columns: 1fr 1fr;
}

h1,
p {
    text-align: start;
    margin: 5%;
}

p {
    font-size: larger;
    font-weight: 400;
}

input[type="text"] {
    width: 350px;
    height: 60px;
    border-radius: 10px;
    margin: 5% 0;
}

input[type="submit"] {
    width: 250px;
    height: 60px;
    margin-left: 5%;
    background-color: teal;
    color: white;
    font-size: large;
}

footer {
    text-align: center;
    margin-top: 15%;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.fa {
    font-size: x-large;
}


svg.logo {
    margin-top: 10%;
    margin-left: 5%;
}

@media only screen and (max-width: 960px) {
    body {
        grid-template-columns: 1fr;
    }

    svg.logo * {
        fill: white;
        /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);*/
    }
    
    h2 {
        margin-left: 5%;
    }

    nav {
        width: 100%;
        margin-left: 2%;
    
    }

    svg.logo,
    div#socialContacts {
        transform: scale(0.6);
    }

    div#socialContacts {
        justify-self: end;
        margin-right: 40%; 
        grid-column-gap: 20%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .illustration {
        margin-bottom: 10%;
        margin-left: -20%;
        transform: scale(0.6);
    }

    h1 {
        font-size: x-large;
    }

    p {
        font-size: medium;
    }

    h1,
    h2,
    p {
        width: 70%;
        text-align: start;
        
    }

    input[type="text"] {
        width: 70%;
       margin-left: 5%;
    height: 40px;
    }

    input[type="submit"] {
        height: 40px;
        width: 150px;
    }
   
    .fa-twitter, .fa-facebook-f, .fa-envelope {
                color: white;        
    }

    footer {
        margin-right: -25%;
        font-size: small;
        
    }
}